.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; 
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  padding: 16px;
  min-width: 750px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1100; 
  scrollbar-width: thin; 
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.5); /
}

.modal-container::-webkit-scrollbar {
  width: 8px; 
}

.modal-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5); 
}

.modal-container::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5); 
  border-radius: 4px; 
}

.modal-header {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.modal-content {
  width: 100%;
  padding: 16px;
  overflow-y: auto;
}

.modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px;
}
